{% extends 'base.html' %}
{% block main %}
    {% if messages %}
    <div id="message-container" class="position-fixed top-0 start-50 translate-middle-x mt-3" style="z-index: 1050; width: 50%;">
        {% for message in messages %}
        <div class="alert alert-{% if message.tags == 'error' %}danger{% else %}{{ message.tags }}{% endif %} alert-dismissible fade show text-center message-alert"
        role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
    </div>
    {% endif %}
    <div class="container my-5">
        {% if object_list %}
        <h2 class="text-center mb-4">Guruhlarimiz</h2>
        <div class="row row-cols-1 row-cols-md-3 g-4">
            {% for group in object_list %}
            <div class="col">
                <div class="card h-100 shadow-sm border-light">
                    <div class="position-absolute top-0 end-0 p-2">
                        {% if perms.manager.change_course %}
                        <a href="{% url 'update_group' group.id %}" class="text-dark me-2">
                            <i class="fas fa-pen"></i>
                        </a>
                        {% endif %}
    
                        {% if perms.manager.delete_course %}
                        <a href="{% url 'delete_group' group.id %}" class="text-dark">
                            <i class="far fa-trash-can"></i>
                        </a>
                        {% endif %}
                    </div>
                    <a href="{% url 'group_by_course' group.id %}" class="btn text-decoration-none text-dark">
                        <div class="card-body text-center">
                            <h5 class="card-title">{{ group.title }}</h5>
                        </div>
                    </a> 
                </div>
            </div>
            {% endfor %}
        </div>
        {% else %}
        <h2 class="text-center mb-4">Hozirda guruhlar mavjud emas.</h2>
        {% endif %}
    </div>
    {% include 'components/_pagination.html' %}
{% endblock main %}
