{% extends 'base.html' %}
{% include 'components/_styles.html' %}
{% block main %}
    {% if messages %}
    <div id="message-container" class="position-fixed top-0 start-50 translate-middle-x mt-3" style="z-index: 1050; width: 50%;">
        {% for message in messages %}
        <div class="alert alert-{% if message.tags == 'error' %}danger{% else %}{{ message.tags }}{% endif %} alert-dismissible fade show text-center message-alert"
             role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}
    </div>
    {% endif %}
    <div class="container">
        <main class="mt-5 mb-5">
            <div class="row row-cols-1 row-cols-md-3 g-4">
                {% for course in courses %}
                <div class="col car">
                    <a href="{% url 'course' course.id %}" class="btn" >
                        <div class="col mb-4">
                            <div class="mb-5 mt-5">
                                <h5 class="card-title">{{ course.title }}</h5>
                            </div>
                        </div>
                    </a> 
                </div>    
                {% endfor %}
            </div>
        </main>
    </div>
    <div class="container">
        <main class="mt-5 mb-5">
            <div class="row row-cols-1 row-cols-md-3 g-4">
                {% for group in groups %}
                <div class="col car">
                    <a href="{% url 'group_by_course' group.id %}" class="btn" >
                        <div class="col mb-4">
                            <div class="mb-5 mt-5">
                                <h5 class="card-title">{{ group.title }}</h5>
                            </div>
                        </div>
                    </a> 
                </div>    
                {% endfor %}
            </div>
        </main>
    </div>
    {% include 'components/_scripts.html' %}
    {% include 'components/_pagination.html' %}
{% endblock main %}



